*{
    margin: 0px;
    padding: 0px;
}

.menu{
    opacity: 0.7;
}

.navlinks ul {
    list-style-type: none;
    margin: 0;
    padding: 3px;
    overflow: hidden;
    background-color:red;
   
  }
  
  .navlinks li {
    float: left;
  }
  
  .navlinks li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 15px;
    text-decoration: none;
  }
  
  .navlinks li a:hover {
    background-color: rgb(92, 206, 64);
    border-radius: 8px;
  }

  .btn1{
    color: white;
    border-radius: 6px;
    font-family: 'Times New Roman', Times, serif;
    background-color:rgb(44, 184, 44);
    text-decoration-line: none;
    text-align: center;
    border: none;
   padding: 10px ;
    width: 300px;
    height: 30px;
    margin-left: 400px;
    margin-top: 20px;
    opacity: 0.8;
    text-decoration: none;
}
.btn1:hover {background-color: #13c219}

.btn1:active {
  background-color: #3e8e41;
  box-shadow: 0 5px brown;
  transform: translateY(4px);
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:black;
    text-align: center;
    font-size: 20px;
    
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:black;
    text-align: center;
   font-size: 32px;
    
}
.menu1{
    height: 50px;
background-image: url(man-5463204_1280.jpg);
   background-size: cover;
    opacity: 0.9;
    padding :170px;
    top: 10px;
    
}
hr { display: block; overflow: hidden; border-style: inset; border-width: 1px;width: 10px;}

.boxes{
    padding: px;
   margin: 3px 6px;
    border-radius: 5px;
border:2px solid rgb(185, 50, 50);
display: block;

background-color: white;
text-align: center;

}

#services
{
    margin:34px;
    display: flex;
    padding: 20px;
    
}

#services .boxes{ 
    border: 2px solid brown;
    padding: 30px;
    margin: 2px 5px;
    border-radius: 8px;
    
    margin-bottom: 20px;
}
.btn{
    color: white;
    border-radius: 6px;
    font-family: 'Times New Roman', Times, serif;
    background-color:rgb(44, 184, 44);
    text-decoration-line: none;
    text-align: center;
    border: none;
   padding: 10px ;
    width: 200px;
    height: 30px;
    margin-left: 20px;
    margin-top: 20px;
    opacity: 0.8;
}
.btn:hover {background-color: #1a741d}

footer {
    text-align: center;
    padding: 3px;
    background-color: rgb(236, 51, 51);
    color: rgb(199, 104, 104);
    opacity: 0.9;
    
  }
  
  #backvideo{
      width: 400px;
      height: 200px;
      margin-left: 500px;
      margin-top: 25px;
  }